<!--userlist-->
<div class="container">
  <table class="table">
    <tr>
    
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Description</th>
    </tr>

    <tr *ngFor= "let e of this.eventlist; let i = index">
     
      <td>{{e.name}}</td>
      <td>{{e.date}}</td>
      <td>{{e.location}}</td>
      <td>{{e.price}}</td>
      <td>{{e.qty}}</td>
      <td>{{e.description}}</td>
      <td>
        <button type="submit" class="btn btn-success" (click)="buy(e.id)">Buy Ticket Now !</button>
      </td>
    </tr>
  </table>
</div>